.chatbot-container {
  width: 630px;
  height: 66vh;
  margin: 0 auto;
  border-radius: 8px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.react-chatbot-kit-chat-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.react-chatbot-kit-chat-message-container {
  background-color: var(--Background-Primary);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.react-chatbot-kit-chat-button {
  background-color: lightcoral;
  border: none;
  color: blue;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.custom-message {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--Primary-950);
  color: #333;
}
.react-chatbot-kit-chat-bot-message {
  margin-left: 8px !important;
  margin-right: auto !important;
  color: black !important;
  max-width: 400px;
  width: fit-content;
  max-height: 472px;
  line-height: 24px;
  padding: 12px;
  background-color: white !important;
  border-radius: 0px 12px 12px 12px;
}
.react-chatbot-kit-user-chat-message {
  margin-right: 8px !important;
  margin-left: auto !important;
  color: black !important;
  max-width: 268px;
  width: fit-content;
  max-height: 72px;
  line-height: 14px;
  padding: 12px;
  font-weight: 600;
  background-color: var(--Primary-Assistive) !important;
  border-radius: 12px 0px 12px 12px;
}
.react-chatbot-kit-chat-bot-message-arrow,
.react-chatbot-kit-chat-header,
.react-chatbot-kit-user-avatar-container,
.react-chatbot-kit-chat-btn-send-icon {
  display: none;
}

.react-chatbot-kit-chat-input-container {
  border-top: 1px solid var(--Line-Gray-Normal);
  height: 64px;
  position: fixed;
  background-color: white;
}
.react-chatbot-kit-chat-input-form {
  width: 574px;
  position: fixed;
  margin: 10px;
}
.react-chatbot-kit-chat-input {
  margin-left: 20px;
  border: 1px solid #ddd;
  background-color: var(--Background-Tertiary);
  border-radius: 16px;
  height: 32px;
  width: 528px;
}
.react-chatbot-kit-chat-input:focus {
  outline: none;
  border: 2px solid var(--Fill-Primary-Normal);
}
.react-chatbot-kit-chat-input::placeholder {
  color: var(--Text-Assistive);
  font-weight: 400;
}

.react-chatbot-kit-chat-btn-send {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("/public/assets/send_btn_20.png");
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.chatbot-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.current-time {
  margin-left: 0.5rem;
  margin-top: 0.125rem;
  font-size: 11px;
  font-weight: 400;
  line-height: 1rem;
  color: var(--Text-Alternative);
}
/* flex cursor-pointer items-center justify-between hover:bg-slate-200"> */
.quickguide-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
.quickguide-item {
  display: flex;
  height: 34px;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 18px;
  color: var(--Text-Normal);
}
