.chatbot-container {
  width: 100%;
  /* max-width: 1200px; */
  height: 80vh;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.react-chatbot-kit-chat-container {
  height: 100%;
  width: 100%;
}

.react-chatbot-kit-chat-input {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.react-chatbot-kit-chat-input::placeholder {
  color: black;
}

.react-chatbot-kit-chat-button {
  background-color: red;
  border: none;
  color: blue;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* 챗봇 메시지 왼쪽 정렬 */
.react-chatbot-kit-chat-bot-message {
  margin-left: 30px !important;
  margin-right: auto !important;
}
