html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input::placeholder {
  color: var(--LightMode-Subtext);
}

body {
  -ms-overflow-style: none;
}

:root {
  --vh: 100%;
}

html,
body {
  height: 100vh;
  height: var(--vh);
}
/* ::-webkit-scrollbar {
  display: none;
} */

.no-interaction {
  pointer-events: none; /* Disables interactions */
  opacity: 0.5; /* Optional: Dim the background for better user experience */
}
/*특정 부분 스크롤바 없애기*/

/* .box{
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
 display:none;
} */

:root {
  --colorN-1: #e70000;
  --colorN-2: #fa7533;
  --colorN-3: #21a549;
  --colorN-4: #1060ff;
  --colorN-5: #7543ff;
  --colorN-6: #bb5abb;
  --colorN-7: #ff8a8a;
  --colorN-8: #e5ba00;
  --colorN-9: #91b6ff;
  --color-1: #ffb0b0;
  --color-2: #fdcab0;
  --color-3: #bbe8c9;
  --color-4: #b5ceff;
  --color-5: #d4c5ff;

  --Primary-Assistive: #ffe28a;
  --Primary-Normal: #ffcb51;
  --Primary-Strong: #fbb62d;
  --Primary-Heavy: #ef9906;
  --Primary-Dark: #a35a00;
  --Primary-950: #7a3d00;
  --Primary-DeepDark: #522500;
  --Primary-A-Assistive: #ffe380;
  --Primary-A-Normal: #ffcb51;
  --Primary-A-Strong: #fbb449;
  --Primary-A-Heavy: #f48e3a;
  --Primary-A-Line: #ffed9e;
  --Primary-A-Fill: #fff5bd;
  --Primary-A-Background: #fffce5;
  --Text-Strong: #000000;
  --Text-Normal: #272520;
  --Text-Alternative: #878682;
  --Text-Assistive: #bab9b5;
  --Text-Disable: #cfcfcf;
  --Fill-Primary-Assistive: #fff8d6;
  --Fill-Primary-Normal: #fff2bd;
  --Fill-Primary-Strong: #ffeaa3;
  --Fill-Primary-Background: #fffceb;
  --Fill-Gray-Assistive: #f4f3f1;
  --Fill-Gray-Normal: #e8e7e4;
  --Fill-Gray-Strong: #d1d0cc;
  --Fill-Gray-Disable: #e6e6e6;
  --Line-Primary-Assistive: #fff2bd;
  --Line-Primary-Normal: #ffeaa3;
  --Line-Primary-Strong: #ffe28a;
  --Line-Gray-Assistive: #e8e7e4;
  --Line-Gray-Normal: #d1d0cc;
  --Line-Gray-Strong: #bab9b5;
  --Line-Gray-Disable: #cfcfcf;
  --Background-Primary: #f4f3f1;
  --Background-Secondary: #ffffff;
  --Background-Tertiary: #f4f3f1;
  --Caution-Normal: #f44336;
  --Caution-Strong: #eb1e0f;
  --Caution-Heavy: #c01a0c;
  --Caution-Dark: #71130d;
  --Line-Caution-Assistive: #fcaca6;
  --Line-Caution-Normal: #fa7f76;
  --Line-Caution-Strong: #f9665b;
  --Fill-Caution-Assistive: #fdc8c4;
  --Fill-Caution-Normal: #fcaca6;
  --Fill-Caution-Strong: #fa7f76;
  --Caution-Heavy: #;
  --Caution-Dark: #;
  --Text-Assistive: #ffe28a;
  --Text-Dark: #;
  --Primary-DeepDark: #;
  --Text-Strong: #;
  --Text-Normal: #;
  --Text-Heavy: #;
  --Text-Assistive: #ffe28a;
  --Text-Dark: #;
  --Primary-DeepDark: #;
  --Text-Strong: #;
  --Text-Normal: #;
  --Text-Heavy: #;
  --Text-Assistive: #ffe28a;
  --Text-Dark: #;
  --Primary-DeepDark: #;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
